/*   */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary
{
	margin: 0;
	padding: 0;
}

#nav 
	{
		background:#ffffff;
		width:960px;
		height:100px;
		margin:0 auto;
	}
#nav-content
	{
		background:;
		height:100px;
		width: 960px;
		margin:0 auto;
	}
#nav-content ul
	{
	height:75px;
	margin:0 0 0 80px;
	padding:20px 0 0 0;

	}
#nav-content li
	{
		height:100px;
		margin:0;
		padding:0 20px;
		float:left;
		list-style:none;
		line-height:100px;
		color:#ffffff
	}
#nav-content li a
	{
		color:#000000;
		text-decoration:none;
	/*	width:100%;
		height:100%;
		display:block;
	*/
	}
#back1
	{	float: left;
		width:100%;
		overflow:auto;
		background:#ffffff;
		border-bottom:1px solid #d7d7d7;
	}
#back2
	{	
		float: left;
		width:100%;

		background:#ffffff;
		border-bottom:1px solid #d7d7d7;
	}	
#neibu
{

	width:  1004px;

	margin:0 auto;


}
@media (max-width: 800px) {
  #neibu {
    width: 100%;
    padding: 50px ;
    box-sizing: border-box;

  }

}
.card 
	{
		
	  background: url(https://d13yacurqjgara.cloudfront.net/users/330915/screenshots/1949538/helena_dribbble.gif);
	  border-radius: 2px;
	  display: inline-block;
	  height: 300px;
	  margin: 1rem;
	  position: relative;
	  width: 300px;

	}

.card-1 
	{
	  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	}

.card-1:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	-webkit-transform:translateY(-15px);
    transform:translateY(-15px);
}
#web_design
	{	

		width:70%;
		margin:100px auto;
		

	}
.web_d
	{
		
		width: 64%;
	    display: inline-block;
	}
.web_d a
	{
		color:#949494;
		text-decoration:none;
	/*	width:100%;
		height:100%;
		display:block;
	*/
	}
.web_d p
	{
		word-wrap:break-word;
	}
#web_img
	{

		width: 30%;
		display: inline-block;

	}
/*
.my_txt
	{
		width: 960px;
		  height:900px;
	}
.my_txt p
{
    font-size: 36px;
    margin: 86px ;
    color: #444444;
    line-height: 1.5em;
    width: 560px;

}
*/
section.calc-method p
{
	 font-size: 36px;
	 color: #444444;
	 line-height: 1.5em;
/* 	 margin: 86px ; */
}
section.calc-method 
{ 
/*   background: #8CC152; */
  width: 560px;
  margin: 0 auto;
  box-sizing: content-box;
  padding: 50px calc(50% - 350px);
}
@media (max-width: 800px) {
  section.calc-method {
    width: 100%;
    padding: 50px;
    box-sizing: border-box;
  }
}

.xiankuang
	{
		width: 50%;
		float: left;

	}

.clear
	{clear:both; 
		height: 0; 
		line-height: 0; 
		font-size: 0;
	}
/*    -----------------------------------face-----------------------------------*/
.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.face {
  width: 60px;
  height: 40px;
  position: relative;
  float: left;
  margin: 40px 0 0 25px;
}
.face .eyes {
  width: 20px;
  height: 20px;
  position: relative;
  float: left;
  border: 1px solid #000;
}
.face .eyes::before {
  content: '';
  width: 7px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
}
.face .eyes:nth-child(2) {
  float: right;
}
.face .glass::before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
}
.face .glass:nth-child(1)::after {
  content: '';
  width: 100%;
  height: 1px;
  position: absolute;
  right: -100%;
  top: 40%;
  background: #000;
}
.face .mouse {
  width: 20px;
  height: 1px;
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  background: #000;
}
.face .smile::before, .face .smile::after {
  content: '';
  width: 1px;
  height: 5px;
  position: absolute;
  bottom: 0;
  background: #000;
}
.face .smile::after {
  right: 0;
}

#face1 {
  margin-left: 0;
}
#face1-eyes::before {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #000;
}
#face1-eyes:nth-child(2)::before {
  left: 0;
}

#face2-eyes::before {
  top: 100%;
  right: 0;
  transform: translateY(-100%);
  background: #000;
}
#face2-eyes:nth-child(2)::before {
  left: 0;
}

#face3-eyes::before {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #000;
}
#face3-eyes:nth-child(2)::before {
  left: 0;
}

#face4-eyes::before {
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  background: #000;
}

#face5-eyes::before {
  top: 100%;
  left: 0;
  transform: translateY(-100%);
  background: #000;
}
#face5-eyes:nth-child(2)::before {
  left: auto;
  right: 0;
}

#face6-eyes::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #000;
}
#face6-mouse {
  height: 5px;
  background: transparent;
  border: 1px solid #000;
}